@tile-size: 64px;

body {
	background-color: #b0c4de;
}

.col-md {
    width: @tile-size * 8;
    height: @tile-size * 8;
    float: left;
}

#chessboard {
    box-shadow: 0 0 5px black;
    margin: 0 2% 2% 0;

	.col {
		float: left;

		.tile {
			background-color: white;
			width: @tile-size;
			height: @tile-size;
		}

		&:nth-child(even) .tile:nth-child(odd), 
		&:nth-child(odd) .tile:nth-child(even) {
			background-color: gray;
		}
	}


	.piece {
		display: block;
		width: @tile-size;
		height: @tile-size;
		font-size: 56px;
		text-align: center;
		vertical-align: middle;
		cursor: pointer;

		&.white {
			&.p:before {
				content: "♙";
			}
			&.r:before {
				content: "♖";
			}
			&.n:before {
				content: "♘";
			}
			&.b:before {
				content: "♗";
			}
			&.k:before {
				content: "♕";
			}
			&.q:before {
				content: "♔";
			}
		}

		&.black {
			&.p:before {
				content: "♟";
			}
			&.r:before {
				content: "♜";
			}
			&.n:before {
				content: "♞";
			}
			&.b:before {
				content: "♝";
			}
			&.k:before {
				content: "♛";
			}
			&.q:before {
				content: "♚";
			}
		}
	}
}
